<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Compte</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  
    <ng-template #loginItems>  
      <ion-card>
          <ion-card-header>
            <ion-card-title>vous n'êtes pas connecté</ion-card-title>
          </ion-card-header>
        </ion-card>
    </ng-template>

  <ion-list>
     <section *ngIf="(afAuth.user | async ) as user; else loginItems">
    <ion-item>
      <ion-icon slot="end" name="bookmark"></ion-icon>
      <ion-label>Email</ion-label>
      <ion-badge color="secondary">{{user.email}}</ion-badge>
    </ion-item>
    </section>
  </ion-list>
    
<ion-button expand="full" color="danger" style="margin-top: 100%" (click)="logout()">Deconnexion</ion-button> 
</ion-content>
