<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>compte</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    
  <ion-list>
         
    <ion-item>
      <ion-icon slot="end" name="bookmark"></ion-icon>
      <ion-label>Nom</ion-label>
      <ion-badge color="secondary">Nom</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="bookmark"></ion-icon>
      <ion-label>Email</ion-label>
      <ion-badge color="secondary">Email</ion-badge>
    </ion-item>
  </ion-list>
    
<ion-button expand="full" color="danger" style="margin-top: 50%" (click)="logout()">Deconnexion</ion-button> 
</ion-content>
