<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Nos Agences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list >
      
        <ion-item-sliding *ngFor="let agence of agences">
        <ion-item lines="inset" button [routerLink]="['/details',agence.id]"> 
          <ion-label>
            {{agence.Nom}}    
          </ion-label>
        </ion-item>
        <ion-item><ion-badge color="secondary">{{agence.Lieu}}</ion-badge></ion-item>
        <ion-item-options side="end">
            <ion-item-option (click)="onRemove(item)" color="secondary">
              <ion-icon name="checkmark" slot="end"></ion-icon>
            </ion-item-option>
        </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>
