<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>
      S'enregistrer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-item>
      <ion-label floating></ion-label>
     
      <ion-input type="text" placeholder="Nom" color="success" style="margin-top: 30%"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating></ion-label>
      <ion-input type="text" placeholder="Prenom" color="success"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating></ion-label>
      <ion-input type="number" placeholder="Numero Telephone" color="success"></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary">Enregistrer</ion-button>
</ion-content>
