<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Enregistrement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-item>
      <ion-label floating></ion-label>
      <ion-input type="text" placeholder="Prenom" color="primary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating></ion-label>
      <ion-input type="number" placeholder="Numero Telephone" color="primary"></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary">Valider</ion-button>
</ion-content>
